.header1{
    text-align: center;
    color: blueviolet;
}

.grid{
    /* margin-left: 350px; */
}

.highlight {
    color: yellow;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9{
    height: 100px;
    width: 100px;
    font-size: 80px;
    /* text-align: center; */
    border: 2px solid black;
    float: left;
    background: #14BDAC;
}

#div1, #div2, #div3{
    border-top: none;
}

#div1, #div4, #div7{
    clear: left;
    border-left: none;
}

#div3, #div6, #div9{
    border-right: none;
}

#div7, #div8, #div9{
    border-bottom: none;
}